[database]
type = postgres
host = localhost
port = 5432
database = englobkpi
username = englobkpi
password = 2cNUVfN~Fp`2Zzh3EV2rcV49&~^Ev4y%%

[alembic]
# path to migration scripts
script_location = kpi_collectors:alembic
file_template = %%(year)d%%(month).2d%%(day).2d_%%(rev)s
# file_template = %%(rev)s_%%(slug)s

[jenkin]
user = oh856
token = 112f71f82cc3d562f1e8b24fadd9cd2a78


[jira]
apikey = MDk2MjEzNTgzOTMwOhHnwdVrHAmJluDJLUmajD3H9CoE

