[Unit]
Description=Energy Status Page backend
After=network.target

[Service]
WorkingDirectory={{ backend_path }}
ExecStart={{ backend_venv_path }}/bin/kpi_collector {{ backend_config_path }}
User={{ backend_user }}
Group={{ backend_user }}

[Install]
WantedBy=multi-user.target
